{
  "presets": [
    ["@babel/preset-env", { "modules": false, "targets": "defaults", "useBuiltIns": "usage", "corejs": 2 }],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "react-hot-loader/babel",
    "@babel/plugin-proposal-class-properties"
  ]
}