<div class="ui main container" *ngIf="invoice">
    <h1 class="ui header">invoice {{ invoice.invoiceNumber }}</h1>

    <div class="ui grid">
        <div class="eight wide column">
            <h4 class="ui horizontal divider header">
                <i class="bar chart icon"></i>
                Customer information
            </h4>
            <table class="ui definition table">
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>{{ invoice.customer.name }}</td>
                    </tr>
                    <tr>
                        <td>Customer address</td>
                        <td>
                            {{ invoice.customer.streetName }}<br />
                            {{ invoice.customer.postCode }}<br />
                            {{ invoice.customer.city }}<br />
                            {{ invoice.customer.email }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="eight wide column">
            <h4 class="ui horizontal divider header">
                <i class="bar chart icon"></i>
                Invoice information
            </h4>
            <table class="ui definition table">
                <tbody>
                    <tr>
                        <td>Invoice number</td>
                        <td>{{ invoice.invoiceNumber }}</td>
                    </tr>
                    <tr>
                        <td>Reference number</td>
                        <td>{{ invoice.referenceNumber }}</td>
                    </tr>
                    <tr>
                        <td>Invoice date</td>
                        <td>{{ invoice.created }}</td>
                    </tr>
                    <tr>
                        <td>Invoice due</td>
                        <td>{{ invoice.due }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <table class="ui celled invoice items table">
        <thead>
            <tr>
                <th>Item name</th>
                <th>Amount</th>
                <th>Price</th>
                <th>Tax %</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="#item of invoice.items">
                <td>{{ item.description }}</td>
                <td class="amount">{{ item.amount }}</td>
                <td class="price">{{ item.price }}</td>
                <td class="tax">{{ item.tax }}</td>
                <td class="total">{{ item.total() }}</td>
            </tr>
        </tbody>
        <tfoot>
        <tr>
            <th colspan="4" class="footer header">
                <h4 class="ui right floated header">Total</h4>
            </th>
            <th class="footer value">{{ invoice.total() }}</th>
        </tr>
        </tfoot>
    </table>

    <div class="ui hidden divider"></div>
    <button class="ui red button" [routerLink]="['EditInvoice', {id: invoice.id}]">Edit</button>
</div>
